<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Cars World!</h1>
    <p>Cars and the countries they come from...</p>
    <p style="font-size: 1.1em">Click the button below to find out more</p>
    <p><a class="btn btn-primary btn-lg" href="/cars" role="button">Go to Cars</a></p>
  </div>
</div>
