.jumbotron {
  background: url('rev.jpg');
  background-position: bottom;
  color: blue;
}

body {
  font-family: sans-serif;
  background: url('car-banner.jpg');
  background-position: top;
}

.table {
  background: rgba(135, 135, 135, 0.5);
  color: white;
}
